<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cyan.intellicyan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_transparent_h"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.BaseCompat">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.LaunchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_launch"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.QuestionsActivity" />
        <activity android:name=".activities.TodoListActivity" />
        <activity
            android:name=".activities.ScrollShowActivity"
            android:label="@string/title_activity_scroll_show"
            android:theme="@style/AppTheme.BaseCompat" />
        <activity
            android:name=".activities.ASampleScrollActivity"
            android:label="@string/title_activity_asample_scroll"
            android:theme="@style/AppTheme.BaseCompat"></activity>
    </application>

</manifest>